.navbarContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: 100vw;
  min-height: 10vh;
  color: white;
  box-shadow: 1px 1px 5px 0.4px grey;
  background: #ffafcc;
}

.logoImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
}

.logoImg img {
  width: 150px;
  height: 100%;
  margin-left: 15px;
}

.listContainer {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
}

.listContainer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.listContainer_links {
  text-decoration: none;
  color: white;
}
